<h1> Estatísticas de informações pessoais</h1>

<form ngForm> 
  <div>
    Nome: <input type="text" name="Nome" [(ngModel)]="nome">
  </div>
  <div>
    Idade: <input type="number" name="Idade" [(ngModel)]="idade">
  </div>
    <button (click)="salvar()"> OK </button>
    
</form>

<h2> Pessoas cadastradas </h2>

<table>
<thead>
  <th>Nome</th>
  <th>Idade</th>
  <th>Excluir</th>
</thead>
<tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td> {{pessoa.nome}}</td>
      <td> {{pessoa.idade}}</td>
      <td>
        <button (click)="remover(pessoa)">X</button>
      </td>
    </tr>
</tbody>
</table>

<div> Total de pessoas cadastradas: {{pessoas.length}}</div>
<br>
<div> 
  Pessoa mais jovem: {{pessoaMaisJovem?.nome}}, com {{pessoaMaisJovem?.idade}} anos
</div>
<div>
  Pessoa mais velha: {{pessoaMaisVelha?.nome}}, com {{pessoaMaisVelha?.idade}} anos
</div>